@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-serif text-white bg-black/90;
  }
}

@layer components {
  .pagination-class {
    @apply py-1 mx-1 text-xl text-center border border-blue-700 rounded;
  }
}

@layer utilities {
  .video {
    width: 22em;
    height: 20em;
  }

  .video-lg {
    width: 60em;
    height: 30em;
  }

  .video-md {
    width: 40em;
    height: 30em;
  }

  .swiper-img {
    height: 80vh;
    object-fit: cover;
  }

  .h-img-detail {
    height: 80vh;
    object-fit: cover;
  }

  .text-shadow {
    text-shadow: #000 5px 0 10px;
  }
}
